.parent {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 20px;
}

.child {
    width: 150px;
    height: 150px;
    border: 2px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: white;
    font-size: 20px;
}

input {
    width: 200px;
    border: 2px solid red;
}