.parent {
    width: 300px;
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    gap: 10px;
}

.card {
    width: 100%;
    border: 2px solid blue;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}